# Application
PORT=4000
NODE_ENV=development
API_PREFIX=api/v1

# Database (PostgreSQL)
POSTGRES_PORT=5434
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pulsetime
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/pulsetime?schema=public"


# Cache / BullMQ (Redis)
REDIS_PORT=6380
REDIS_URL="redis://localhost:6380"

# JWT Authentication
JWT_ACCESS_SECRET="pulsetime_dev_access_secret_super_secure_key_12345"
JWT_REFRESH_SECRET="pulsetime_dev_refresh_secret_super_secure_key_67890"
ACCESS_TOKEN_EXPIRES="15m"
REFRESH_TOKEN_EXPIRES="7d"

# Storage Configuration (local | s3)
STORAGE_PROVIDER="local"
STORAGE_LOCAL_DIR="./uploads"

# Optional S3 / MinIO Settings
S3_ENDPOINT="http://localhost:9000"
S3_BUCKET="pulsetime-screenshots"
S3_ACCESS_KEY="minioadmin"
S3_SECRET_KEY="minioadmin123"
S3_REGION="us-east-1"
S3_FORCE_PATH_STYLE=true

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:4000"
NEXT_PUBLIC_APP_NAME="PulseTime"
