@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-slate-850: #131d31;
    --color-slate-750: #25334c;
  }

  body {
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
  }
}

.bg-slate-850 {
  background-color: #131d31;
}

.bg-slate-750 {
  background-color: #25334c;
}

/* Custom compact scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

.app-region-drag {
  -webkit-app-region: drag;
}

.app-region-no-drag {
  -webkit-app-region: no-drag;
}
